/*h1#block, h2#block1 , h3#block2  {*/
/*    text-align: center;*/
/*}*/

/*h1#block  {*/
/*    font-size: 30px;*/
/*}*/

/*h2#block1  {*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*}*/

/*h3#block2  {*/
/*    font-size: 16px;*/
/*    color: red;*/
/*}*/
/*div p{color: red;}*/
/*div h2{color: red;}*/
/*#block3 p{color: green}*/
/*div#block4 h2{color: blue;}*/
/* h2.bbb, p.bbb ,div.bbb{color: forestgreen;}*/
/*div#block6 h2.bbb,p.bbb{color:fuchsia;}*/
p.bbb{color: red;}
h2.bbb{font-size: 150px;color: green;}
div#block9 p.bbb{font-size: 50px;color: red;}
