/*h1#block, h2#block1 , h3#block2  {*/
/*    text-align: center;*/
/*}*/

/*h1#block  {*/
/*    font-size: 30px;*/
/*}*/

/*h2#block1  {*/
/*    font-size: 20px;*/
/*    color: blue;*/
/*}*/

/*h3#block2  {*/
/*    font-size: 16px;*/
/*    color: red;*/
/*}*/
/*div p{color: red;}*/
/*div h2{color: red;}*/
/*#block3 p{color: green}*/
/*div#block4 h2{color: blue;}*/
/* h2.bbb, p.bbb ,div.bbb{color: forestgreen;}*/
/*div#block6 h2.bbb,p.bbb{color:fuchsia;}*/
/*p.bbb{color: red;}*/
/*h2.bbb{font-size: 100px;color: green;}*/
/*div#block9 p.bbb{font-size: 50px;color: red;}*/
/*h2.bbb, h2.xxx, p.bbb, p.xxx, div.bbb{color: blue;}*/
/*h2.xxx, p.bbb{text-align:center;font-size: 130px;}*/
/*div#block4  p.bbb, div#block4 p.xxx{text-align:center;font-size:100px;color: blue;}*/
/*div.fff, h2.fff, p.fff{color: red;}*/
/*div.fff p{text-align:center;color: red;}*/
/*p.fff{text-align:center;color: blue;}*/
/*div.fff .bbb{text-align:center;color: blue;}*/
/*div.fff h2.bbb{text-align: center;color: red;}*/
h2{text-align:center;color: red;}
h3{font-size: 80px;color: blue;}
/*#elem+li{font-size:50px;color: green;}*/
/*.elem+li{font-size: 70px;color: red;}*/
/*main>div,section{color: red;}*/
/*#elem {*/
/*    border-width: 1px 2px 3px 4px;*/
/*    border-style: dashed dotted solid*/
/*    double;*/
/*    border-color: red blue green black;*/
/*    width: 300px;*/
/*    height: 100px;*/
/*a:link {font-size: 100px;*/
/*    color: blue;*/
/*}*/
/*a:visited {*/
/*    color: green;*/
/*}*/
/*a:hover {*/
/*    text-decoration: none;color: red;*/
/*}*/
/*a:active {*/
/*    color: black;*/
/*}*/
a {
    color: blue;text-decoration: none;
}
a:hover {color: red;}



